.online {
  display: block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: green;
}

.offline {
  display: block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: red;
}

.avatar {
  border: 1px lightgray solid;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  margin: 0 10px;
}

.item {
  display: flex;
  align-items: center;
  max-width: 230px;
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.name {
  font-weight: 700;
}
